/* DEFAULT STYLING */
:root {
  --vermelho: #e50914;
  --preto: #141414;
  --cinza: #bbb;
  --branco: #fff;
  --more-info-bg: #312D30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--preto);
  color: var(--branco);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* STYLING HEADER */

header {
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;
}

.left-container {
  display: flex;
  align-items: center;

  gap: 2rem;

}

.logo {
  color: var(--vermelho);
  font-weight: 900;
  font-size: 2rem;
}

#navbar {
  display: flex;
  gap: 1rem;
}

#navbar a {
  color: var(--cinza);
  font-size: 1rem;
  
  transition: 0.2s;
}

#navbar a:hover {
  color: var(--branco)
}

.right-container {
  display: flex;
  align-items: center;

  gap: 2rem;

}

.material-icons-outlined.light-icon { 
  color: var(--branco);
  font-size: 24px;
}

.material-icons-outlined.dark-icon { 
  color: var(--preto);
  font-size: 24px;
}


/* STYLING Main Show */
.main-show{
  height: 70vh;
  width: 100vw;

  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6) 100%), url('../assets/img/evangelion1995-BG.jpg');
  background-size: cover;
}

.show-info {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 4rem 8rem 4rem 4rem ;

  gap: 1.2rem;

}

.show-title {
  font-size: 2.5rem;
}

.show-description {
  text-align: justify;
}

.main-show-buttons {
  display: flex;

  gap: 1rem;
}

.fat-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  gap: 0.5rem;

  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;

  border: none;
  border-radius: 4px;

  transition: 0.2s;
}

.more-info {
  background: var(--more-info-bg);
  color: var(--branco)
  
}

.fat-button:hover {
  cursor: pointer;

  opacity: 0.8;
}

/* configurando o carousel */

.other-shows {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem;
}

.item {
  width: 80%;
  /* background: red; */
}