@media screen and (max-width: 1255px) {
  :root{
    font-size: 14px;
  }

  .left-container {
    display: flex;
    flex-direction: column;

    gap: 1rem;
  }

  .right-container {
    display: none;
  }

  header {
    display: flex;
    justify-content: center;
  }


  .fat-button {
    justify-content: center;
  }

  .show-info {
    width: 60%;
  }
}

@media screen and (max-width: 960px) {
  .show-info {
    width: 80%;

    padding: 2rem;
  }

  
}

@media screen and (max-width: 520px){
  .main-show{
    height: 70%;
  width: 100%;
  }

  .show-info {
    width: 100%;

    padding: 1rem;
  }

  .main-show-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
}

@media screen and (max-width: 475px){
  #navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 1rem;

    text-align: center;
  }
}